<section
  id="especialidades"
  class="specialties"
>
  <div class="container">

    <header class="section-heading">

      <span class="section-heading__eyebrow">
        Acompañamiento psicológico
      </span>

      <h2>
        Cómo puedo ayudarte
      </h2>

      <div
        class="section-heading__ornament"
        aria-hidden="true"
      >
        <span></span>

        <span class="flower">
          ✦
        </span>

        <span></span>
      </div>

      <p>
        Cada proceso es diferente.
        El acompañamiento se adapta a tu historia,
        tus necesidades y el momento vital
        en el que te encuentras.
      </p>

    </header>


    <div class="specialties__grid">

      @for (
        specialty of specialties();
        track specialty.slug
      ) {

        <article class="specialty-card">

          <div class="specialty-card__icon">

            @switch (specialty.slug) {

              @case ('dependencia-emocional') {

                <svg viewBox="0 0 64 64">
                  <path
                    d="M32 54S10 41 10 24c0-9 11-14 18-7l4 5 4-5c7-7 18-2 18 7 0 17-22 30-22 30Z"
                  ></path>

                  <path
                    d="M18 36 46 18"
                  ></path>
                </svg>

              }


              @case ('adicciones-comportamentales') {

                <svg viewBox="0 0 64 64">

                  <circle
                    cx="24"
                    cy="25"
                    r="9"
                  ></circle>

                  <circle
                    cx="41"
                    cy="25"
                    r="9"
                  ></circle>

                  <path
                    d="M12 50c1-10 7-16 12-16 4 0 7 2 9 6 2-4 5-6 9-6 6 0 11 6 12 16"
                  ></path>

                </svg>

              }


              @case ('trastorno-depresivo') {

                <svg viewBox="0 0 64 64">

                  <path
                    d="M15 36c-7 0-11-6-9-12 2-5 7-6 11-4 0-9 11-15 19-9 5-4 14-1 15 6 7-1 12 4 12 10 0 5-4 9-9 9Z"
                  ></path>

                  <path
                    d="M22 43l-3 7M33 43l-3 7M44 43l-3 7"
                  ></path>

                </svg>

              }


              @case ('ansiedad') {

                <svg viewBox="0 0 64 64">

                  <path
                    d="M27 54V40c-8-3-13-11-13-20 0-11 8-18 19-18 10 0 18 8 18 18 0 6-3 11-7 15v19"
                  ></path>

                  <path
                    d="M25 19c8-8 18 1 11 7 9-2 11 11 2 12"
                  ></path>

                </svg>

              }


              @case ('baja-autoestima') {

                <svg viewBox="0 0 64 64">

                  <circle
                    cx="32"
                    cy="24"
                    r="10"
                  ></circle>

                  <path
                    d="M16 56c2-13 9-20 16-20s14 7 16 20"
                  ></path>

                  <path
                    d="M32 42c-5-6-14-2-11 5 2 5 11 10 11 10s9-5 11-10c3-7-6-11-11-5Z"
                  ></path>

                </svg>

              }

            }

          </div>


          <h3>
            {{ specialty.title }}
          </h3>


          <p>
            {{ specialty.summary }}
          </p>


          <a
            [routerLink]="[
              '/especialidades',
              specialty.slug
            ]"
          >
            Conocer más

            <span aria-hidden="true">
              →
            </span>
          </a>

        </article>

      } @empty {

        <p class="specialties__empty">
          No hay especialidades disponibles
          en este momento.
        </p>

      }

    </div>

  </div>
</section>